<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <a>Categories</a>
      <a>Items</a>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>