<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <div class="topnav">
      <a href="/restaurant/">Home</a>
      <a href='/restaurant/categories'>Categories</a>
      <a href='/restaurant/items'>Items</a>
    </div>
  </nav>
  <main>
    {{{body}}}
  </main>
</body>

</html>